aside {
    flex: 0 0 25em;
    background-color: var(--light-gray);
}

.aside-title {
    padding: 15px;
}

.last-search-item {
    padding: 15px;
    display: flex;
    align-items: center;
}

.last-search-item:not(.no-results):hover {
    background-color: rgba(0, 0, 0, .015);
    cursor: pointer;
}

.last-search-item .book-cover {
    margin-right: 20px;
    flex-basis: 80px;
}

.last-search-item .title,
.last-search-item .author {
    font-size: 1em;
    line-height: 1.1em;
    margin-bottom: 10px;
}